# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore database and social data files
users.db
social_data.json
#ignore databasen informasjon, slik at ingen kan access den uten tilgang til serveren 
/config.py
