/* Login.css */

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: var(--container-bg);
    border: 3px solid var(--input-border-color);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
}

.logo {
    width: 120px;
    height: 120px;
    background-image: url("../../../public/Y-Logo.svg");
    background-color: var(--button-bg-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 25px;
}

h2 {
    color: var(--text-color);
    font-size: 24px;
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    height: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background: transparent;
    border: 3px solid var(--input-border-color);
    color: var(--text-color);
    font-size: 16px;
    border-radius: 8px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    width: 100%;
    padding: 12px;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

button:hover {
    background: var(--button-hover-bg-color);
}

p {
    color: var(--text-color);
    font-size: 16px;
    margin-top: 15px;
}

span {
    cursor: pointer;
    color: var(--accent-color);
    font-weight: bold;
}

span:hover {
    text-decoration: underline;
}
