/* Protected.css */

.container {
  display: flex;
  height: 100vh;
}

/* Post Input Area */
.post-input-area {
  margin-bottom: 20px;
  padding-left: 10px;
}

.post-textarea,
.hashtag-input {
  width: 95%;
  background-color: var(--textarea-bg-color);
  color: var(--text-color);
  border: 1px solid var(--textarea-border-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.post-textarea {
  height: 100px;
}

.hashtag-limit {
  display: flex;
  justify-content: space-between;
  width: 95%;
  color: var(--hashtag-limit-text);
  margin-bottom: 10px;
}

/* Post Button */
.post-button {
  background-color: var(--modal-button-bg);
  color: var(--modal-button-text);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

.post-button:hover {
  background-color: var(--modal-button-hover-bg);
}

/* Error Message */
.error-message {
  color: var(--error-color);
  margin-top: 5px;
  font-weight: bold;
}

/* Post Feed */
.post-feed {
  margin-top: 20px;
}

.post {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  width: 95%;
  max-width: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 2px solid var(--textarea-bg-color);
  position: relative;
}

.delete-x-button {
  border: none;
  background-color: transparent;
  color: var(--delete-button-color);
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-weight: bold;
  color: var(--hashtag-color);
  max-width: 600px;
  word-wrap: break-word;
}

.char-count {
  color: var(--text-color);
}

.char-count.red {
  color: var(--error-color);
}

.post-text-box {
  max-height: 100%;
  overflow: hidden;
  position: relative;
  padding: 10px;
  border: 1px solid transparent;
}

.hashtag-box {
  max-height: 50px;
  overflow: hidden;
  position: relative;
  padding: 5px;
  border: 1px solid transparent;
}

.post-text-box p,
.hashtag-box p {
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.post-username {
  margin-bottom: 10px;
}

.hashtag-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 8px;
}

.hashtag-tag {
  background-color: var(--hashtag-color);
  color: var(--text-color);
  padding: 6px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.hashtag-remove {
  background: none;
  border: none;
  color: var(--text-color);
  margin-left: 8px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
}

.hashtag-remove:hover {
  color: var(--hashtag-hover-color);
}

h3{
  color: white
}