.container {
  display: flex;
  height: 100vh;
}

/* Post Input Area */
.post-input-area {
  margin-bottom: 20px;
  padding-left: 10px; /* Add left padding for gap */
}

.post-textarea {
  width: 95%;
  background-color: #444;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  height: 100px; /* Height of the textarea */
}

.hashtag-input {
  width: 95%;
  background-color: #444;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Display max hashtags and current input together */
.hashtag-limit {
  display: flex;
  justify-content: space-between;
  width: 95%;
  color: gray; /* Color for the limit text */
  margin-bottom: 10px;
}

/* Post Button */
.post-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

.post-button:hover {
  background-color: #0056b3;
}

/* Error Message */
.error-message {
  color: red; /* Red color for error messages */
  margin-top: 5px;
}

/* Post Feed */
.post-feed {
  margin-top: 20px;
}

.post {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  width: 95%;
  max-width: none; /* Remove width limit */
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 2px solid #444;
  position: relative; /* Add position relative to contain the absolutely positioned button */
}

.delete-x-button {
  border: none;
  background-color: transparent; /* Remove background */
  color: rgb(94, 94, 94); /* Text color */
  cursor: pointer;
  position: absolute; /* Positioning */
  bottom: 10px; 
  right: 10px;
  width: 30px; 
  height: 30px; 
  display: flex; 
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 10; /* Add a higher z-index */
}


.hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-weight: bold;
  color: #007bff;
  max-width: 600px;
  word-wrap: break-word;
}

/* Character Count Styling */
.char-count {
  color: rgb(255, 255, 255); /* Default color for character count */
}

.char-count.red {
  color: red; /* Red color for character count when limit is exceeded */
}

.post-text-box {
  max-height: 100%; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
  padding: 10px;
  border: 1px solid transparent; /* Invisible box */
}

.hashtag-box {
  max-height: 50px; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
  padding: 5px;
  border: 1px solid transparent; /* Invisible box */
}

.post-text-box p,
.hashtag-box p {
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap; /* Ensures long words wrap properly */
}

.post-username {
  margin-bottom: 10px;
}

.error-message {
  color: red; /* Color for error messages */
  font-weight: bold;
}
